[Desktop Entry]
Name=HexChat
Name[de]=HexChat
Name[en_GB]=HexChat
Name[es]=HexChat
Name[et]=HexChat
Name[eu]=HexChat
Name[fi]=HexChat
Name[fr]=HexChat
Name[it]=HexChat
Name[ja_JP]=HexChat
Name[ko]=헥스채트
Name[lt]=HexChat
Name[pl]=HexChat
Name[pt]=HexChat
Name[pt_BR]=HexChat
Name[sq]=HexChat
Name[sv]=HexChat
Name[tr]=HexChat
Name[zh_CN]=HexChat
GenericName=IRC Client
GenericName[de]=IRC-Client
GenericName[en_GB]=IRC Client
GenericName[es]=Cliente de IRC
GenericName[et]=IRC klient
GenericName[eu]=IRC bezeroa
GenericName[fi]=IRC-asiakassovellus
GenericName[fr]=Client IRC
GenericName[it]=Client IRC
GenericName[ja_JP]=IRCクライアント
GenericName[ko]=IRC 클라이언트
GenericName[lt]=IRC klientas
GenericName[pl]=Klient IRC
GenericName[pt]=Cliente IRC
GenericName[pt_BR]=Cliente IRC
GenericName[sq]=Klient IRC
GenericName[sv]=IRC klient
GenericName[tr]=IRC Client
GenericName[zh_CN]=IRC 客户端
Comment=Chat with other people online
Comment[de]=Chatte online mit anderen Leuten
Comment[en_GB]=Chat with other people online
Comment[es]=Chatea con otras personas en línea
Comment[et]=Vestle teiste kasutajatega internetis
Comment[fi]=Keskustele muiden kanssa verkossa
Comment[fr]=Parlez avec d'autres personnes en ligne
Comment[it]=Chiacchiera con altri utenti online
Comment[ja_JP]=他の人とオンラインチャットをします
Comment[ko]=온라인에 있는 사람들과 대화합니다
Comment[lt]=Kalbėkite su kitais prisijungusiais žmonėmis
Comment[pl]=Rozmawiaj z innymi ludźmi przez internet
Comment[pt]=Conversa com outras pessoas online
Comment[pt_BR]=Converse com outras pessoas na rede
Comment[sq]=Bisedoni në linjë me persona të tjerë
Comment[sv]=Chatta med andra människor online
Comment[tr]=İnsanlar ile çevrimiçi sohbet
Comment[zh_CN]=与其他人在线聊天
Keywords=IM;Chat;
Keywords[de]=IM;Chat;
Keywords[en_GB]=IM;Chat;
Keywords[es]=IM;Chat;
Keywords[eu]=IM;Chat;Txat;
Keywords[fi]=IM;Chat;pikaviestin;keskustelu;
Keywords[fr]=IM;Chat;
Keywords[it]=IM;Chat;Messaggistica Istantanea;IRC;
Keywords[ko]=IM;인스턴트 메신저;Chat;대화;
Keywords[lt]=IM;Pokalbiai;
Keywords[pl]=IM;Chat;
Keywords[pt]=IM;Chat;
Keywords[pt_BR]=IM;Chat;
Keywords[sq]=IM;Fjalosje;
Keywords[tr]=IM;Chat;
Keywords[zh_CN]=IM;聊天;
Exec=hexchat %U
Icon=hexchat
Terminal=false
Type=Application
Categories=GTK;Network;IRCClient;
StartupNotify=true
X-GNOME-UsesNotifications=true
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
Actions=SafeMode;

[Desktop Action SafeMode]
Name=Open Safe Mode
Name[de]=Im sicheren Modus öffnen
Name[en_GB]=Open Safe Mode
Name[es]=Abrir en modo seguro
Name[et]=Ava turvarežiim
Name[fr]=Ouvrir le mode sans échec
Name[it]=Apri modalità sicura
Name[ja_JP]=セーフモードで開く
Name[ko]=공개 안전 모드
Name[lt]=Atviras saugus režimas
Name[pl]=Otwórz tryb bezpieczny
Name[pt]=Abrir Modo Seguro
Name[pt_BR]=Abrir modo seguro
Name[sq]=Hap Mënyrën e Sigurt
Name[sv]=Öppna säkert läge
Name[tr]=Güvenli Modda Aç
Name[zh_CN]=打开安全模式
Exec=hexchat --no-auto --no-plugins
